.body{
    height: 88%;
    width: 100%;
    background-color:rgb(248, 245, 245);
    display: flex;
    gap: 5%;
    margin-top: 1%;
    justify-content: end;
}
.leeter-card{
height: 70%;
padding: 2%;
width: 30%;
background-color: white;
}
.header-first{
    display: flex;
}
.upload-card{
    height: 30%;
    width: 30%;
    padding: 1%;
    background-color: white;
    margin-right: 1%;
}
.header-button button{
    font-size: 100%;
}
.card-content p{
    font-size: 100%;
}
.image{
    display: grid;
    justify-content: center;
}
.image img{
    margin-left: 25%;
}
.write{
    display: flex;
    justify-content: center;
}

.card-footer{
    display: flex;
    gap: 20%;
    margin-top: 20%;
    
}
.card-footer button{
    font-size: 150%;
}
@media only screen and (max-width:827px){
    .upload-card{
        display: none;
    }
    .leeter-card{
        width: 90%;
    }
    .body{
        display: flex;
        justify-content: center;
    }
}